body {
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* NAVBAR */
.navbar {
    background-color: #000000;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.navbar nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar nav a:hover {
    text-decoration: underline;
}

/* ABOUT SECTION */
.about-section {
    background: white;
    margin: 30px auto;
    padding: 30px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* FAQ SECTION */
.faq-section {
    max-width: 800px;
    margin: 30px auto;
}

.faq-box {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.faq-box h3 {
    margin: 0;
    color: #1E3D58;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #000000;
    color: white;
    margin-top: 40px;
}
