body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* NAVBAR */
.navbar {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
}

.navbar nav a:hover {
    text-decoration: underline;
}

/* DASHBOARD SECTION */
.dashboard-section {
    max-width: 1100px;
    margin: 40px auto;
    text-align: center;
}

.dashboard-section h1 {
    margin-bottom: 5px;
    color: #1E3D58;
}

.subtitle {
    margin-bottom: 40px;
    color: #555;
}

/* DASHBOARD CARDS */
.dashboard-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard-card {
    background: white;
    width: 280px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dashboard-card h2 {
    color: #2A4D69;
    margin-bottom: 10px;
}

.dashboard-card p {
    color: #555;
    margin-bottom: 40px;
}

.dashboard-card a {
    display: inline-block;
    background-color: #e63946;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.dashboard-card a:hover {
    background-color: #c92f3b;
}

/* FOOTER */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 480px;
}
