body {
    background: #ffffff;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    background: #000000;
    padding: 15px;
    text-align: center;
}

.exam-container {
    max-width: 1000px;
    margin: 40px auto;
    background: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
}

/* EXAM DETAILS */
.exam-details label {
    display: block;
    margin-top: 15px;
}

.exam-details input,
.exam-details select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

/* QUESTIONS */
.questions-section {
    margin-top: 40px;
}

.question-box {
    background: #2a2a2a;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.question-box textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
}

.question-box input {
    width: 120px;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

/* ADD QUESTION */
.add-question {
    background: #444;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/* TOTAL MARKS */
.total-marks {
    margin-top: 20px;
    font-size: 18px;
}

/* CREATE BUTTON */
.create-btn {
    display: block;
    text-align: center;
    margin-top: 25px;
    padding: 15px;
    background: limegreen;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 510px;
}