body {
    background: #bdbdbd;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar {
    background: #000000;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.navbar nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar nav a:hover {
    text-decoration: underline;
}

/* RESULTS LIST */
.results-list {
    max-width: 900px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.result-card {
    background: #1f1f1f;
    padding: 25px;
    border-radius: 10px;
}

.completed {
    color: lime;
    font-weight: bold;
}

.view-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    background: crimson;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.view-btn:hover {
    background: darkred;
}

/* FOOTER */
footer {
    background: #000;
    text-align: center;
    padding: 15px;
    margin-top: 350px;
}
