body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* NAVBAR */
.navbar {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
}

.navbar nav a:hover {
    text-decoration: underline;
}

/* EXAM ACCESS */
.exam-access {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.exam-box {
    background: white;
    width: 400px;
    padding: 35px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.exam-box h1 {
    margin-bottom: 15px;
    color: #1E3D58;
}

.exam-box p {
    margin-bottom: 25px;
    color: #555;
}

.exam-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.exam-box button {
    width: 100%;
    padding: 12px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.card-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #e63946;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

.exam-box button:hover {
    background-color: #c92f3b;
}

/* FOOTER */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 175px;
}
