body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* NAVBAR */
.navbar {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
}

.navbar nav a:hover {
    text-decoration: underline;
}

/* SUCCESS SECTION */
.success-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.success-box {
    background: white;
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.success-box h1 {
    color: #1E3D58;
    margin-bottom: 20px;
}

.success-box p {
    margin-bottom: 30px;
    color: #555;
    font-size: 15px;
}

/* BUTTON */
.success-btn {
    background-color: #e63946;
    color: white;
    padding: 14px 35px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
}

.success-btn:hover {
    background-color: #c92f3b;
}

/* FOOTER */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 80px;
}
