body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* NAVBAR */
.navbar {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
}

.navbar nav a:hover {
    text-decoration: underline;
}

/* HERO IMAGE */
.hero {
    height: 700px;
    background-image: url("/pics/All\ Might.jpg "); 
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-overlay {
    background-color: rgba(0,0,0,0.55);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-overlay h1 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 2px;
}

.hero-overlay h2 {
    margin-top: 10px;
    font-size: 48px;
    font-weight: bold;
}

/* LOGIN BUTTON */
.login-container {
    text-align: center;
    margin: 30px 0;
}

.login-btn {
    background-color: #e63946;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #c92f3b;
}

/* MOCK TEST SECTION */
.mock-section {
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
}

.mock-section h1 {
    margin-bottom: 30px;
    color: #1E3D58;
}

.mock-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.mock-card {
    background: white;
    width: 280px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.mock-card h2 {
    color: #2A4D69;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #e63946;
}

/* FOOTER */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}
