body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* NAVBAR */
.navbar {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
}

.navbar nav a:hover {
    text-decoration: underline;
}

/* LOGIN PAGE */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}

.login-box {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    text-align: center;
}

.login-box h1 {
    margin-bottom: 25px;
    color: #1E3D58;
}

.login-box label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.forgot {
    text-align: right;
    margin-bottom: 20px;
}

.forgot a {
    font-size: 14px;
    text-decoration: none;
    color: #2A4D69;
}

.forgot a:hover {
    text-decoration: underline;
}

/* LOGIN BUTTON */
.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #e63946;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.login-box button:hover {
    background-color: #c92f3b;
}

.note {
    margin-top: 20px;
    font-size: 14px;
}

.note a {
    color: #2A4D69;
    text-decoration: none;
}

.note a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px;
}
