body {
    background: #949494;
    color: white;
    font-family: Arial;
    margin: 0;
}

.navbar {
    background: #000000;
    padding: 15px;
    text-align: center;
}

.editor {
    max-width: 600px;
    margin: 40px auto;
    background: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

textarea {
    height: 100px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
}
/* FOOTER */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 170px;
}
