body {
    background: #f3f3f3;
    color: white;
    font-family: Arial;
    margin: 0;
}

.navbar {
    background: #000000;
    padding: 15px;
    text-align: center;
}

.exam-list {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.exam-card {
    background: #222;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.exam-card a {
    display: block;
    margin-top: 15px;
    background: red;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 510px;
}