body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eeeeee;
    color: white;
}

.navbar {
    background: #000000;
    padding: 15px;
    text-align: center;
}

.payment-container {
    max-width: 400px;
    margin: 50px auto;
    background: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

.btn {
    display: block;
    text-align: center;
    margin-top: 25px;
    padding: 12px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 195px;
}

