body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* NAVBAR */
.navbar {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
}

.navbar nav a:hover {
    text-decoration: underline;
}

/* DASHBOARD */
.dashboard {
    max-width: 1000px;
    margin: 60px auto;
    text-align: center;
}

.dashboard h1 {
    margin-bottom: 10px;
}

.dashboard p {
    margin-bottom: 40px;
    color: #555;
}

/* CARDS */
.dashboard-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard-card {
    background: white;
    width: 280px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dashboard-card h2 {
    color: #2A4D69;
}

/* BUTTON */
.card-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #e63946;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

.card-btn:hover {
    background-color: #c92f3b;
}

/* FOOTER */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 155px;
}
