@page "/about"

<HeadContent>
    <link rel="stylesheet" href="/css/Aboutstyle.css">
</HeadContent>

<section class="about-section">
    <h1>About Us</h1>
    <p>
        The Examination Board is a prestigious private company that offers schools,
        organizations and students worldwide the flexibility to conduct examinations
        online from the comfort of their homes since 2000.
    </p>

    <p>
        Our industry-leading security system ensures safe and reliable examinations.
        Governments, agencies, and educational institutions trust our platform.
        Students can take exams, view results instantly, and track performance easily.
        Teachers can manage exams, questions, and students efficiently.
    </p>

    <p>
        You can reach out to us at
        <a href="mailto:ExaminationBoard@gmail.com">ExaminationBoard@gmail.com</a>
        or call us at
        <a href="tel:+6567696769">+65 6769 6769</a>
    </p>
</section>

<section class="faq-section">

    <h1>Frequently asked questions</h1>

    <div class="faq-box">

        <h3>How do I log in?</h3>

        <p>
            You will receive your login details from your school administrator or your organization. If you are an individual
            not associated with anyone, you can create an account simply by going to our <a href="Login">Login</a> page
        </p>

    </div>

    <div class="faq-box">

        <h3>What if I forget my password?</h3>

        <p>You can click the <a href="forgot-password">forgot password?</a> button on the <a href="Login">Login</a> page or contact your school or organization.</p>
    </div>

    <div class="faq-box">

        <h3>How are scores calculated?</h3>

        <p>
            The system automatically marks each answer and displays your total score immediately when you organization or teacher
            inputs teh mark for each question.
        </p>

    </div>

</section>
