@page "/exam-results-index"

<HeadContent>
    <link rel="stylesheet" href="/css/exam-results-index.css">
</HeadContent>

<section class="exam-list">
    <div class="exam-card">
        <h3>Mathematics Mock Test</h3>
        <NavLink href="/Account/exam-results">View Result</NavLink>
    </div>

    <div class="exam-card">
        <h3>Science Mock Test</h3>
        <NavLink href="/Account/exam-results">View Result</NavLink>
    </div>
</section>

@code {

}
