@page "/otp-verify"
@inject NavigationManager Navigation

<PageTitle>Verify OTP | Examination Board</PageTitle>

<HeadContent>

    <link rel="stylesheet" href="/css/otpstyle.css" />
</HeadContent>

<div class="otp-page">
    <div class="otp-box">
        <h1>Verification</h1>

        <p class="instruction">
            We have sent a code to <strong>@Email</strong>.<br>
            Please enter the code below.
        </p>


        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert-message @(isError ? "alert-error" : "alert-success")">
                @message
            </div>
        }

        <div class="form-content">
            <div class="otp-section-wrapper">
                <label>OTP Code</label>

                <div class="otp-inline-group">
                    <input type="text"
                           placeholder="6-digit code"
                           maxlength="6"
                           @bind="otpCode"
                           @bind:event="oninput"
                           class="form-control otp-input" />

                    <button class="btn-verify" @onclick="VerifyOtp" disabled="@isProcessing">
                        @(isProcessing ? "Verifying..." : "Verify")
                    </button>
                </div>
            </div>
        </div>

        <p class="back">
            <a href="forgot-password">← Change Email</a>
        </p>
    </div>
</div>

@code {

    [SupplyParameterFromQuery]
    public string? Email { get; set; }


    private string? otpCode;
    private string? message; 
    private bool isError = false; 
    private bool isProcessing = false;

    
    private void VerifyOtp()
    {

    }

    private void ResendCode()
    {

    }
}